/*
 *  Exposed search block component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-form-control-height: 24px;

// Mixins
// -------------------------


// General settings
// -------------------------

.block-exposed-form-search-course-times {
  form#views-exposed-form-course-times-search-page-search-course-times {
    // exposed search form
    .views-exposed-form {
      .views-exposed-widgets {
        margin: 0;
        width: 100%;
        text-align: left;

        .views-exposed-widget {
          display: inline-block;
          float: none;
          margin: 0 -3px 0 -1px;
          padding: 0;
          vertical-align: bottom;

          label {
            display: none;
          }

          .description {
            display: none;
            height: 0;
          }

          .views-widget {
            .form-item {
              .control-label {
                display: none;
              }

              .help-block {
                display: none;
                height: 0;
              }

              .form-control {
                margin: 0;
                height: @pxl-form-control-height;
                font-family: @pxl-text-font;
                font-size: 14px;
                color: @pxl-color-gray-dark;
                #pxl-mixins.border-radius(0);
                border: 1px solid @pxl-color-gray-border-light;
                background-color: #fff;
                #pxl-mixins.box-shadow(none);
                .placeholder(@pxl-color-gray-text);

                &:focus {
                  #pxl-mixins.box-shadow(inset 0 0 3px @pxl-color-gray-border-light);
                  border: 1px solid @pxl-color-gray-border-light;
                }

                &.form-text {
                  padding: 4px 15px 6px;
                }

              }
            }
          }  // views-widget

          &.views-widget-filter-combine {
            width: 85%;
            //border: none;

            @media @menu-breakpoint {
              width: 180px;
            }
          }

          &.views-submit-button {
            overflow: hidden;
            border: none;
            padding-left: 5px;

            button.form-submit {
              margin: 0;
              padding: 0;
              width: @pxl-form-control-height;
              height: @pxl-form-control-height;
              text-indent: 100%;
              border: none;
              background: url(../images/icon-search.svg) no-repeat top center / contain;

              &:hover {
                background: url(../images/icon-search-hover.svg) no-repeat top center / contain;
              }
            }
          }
        }
      }
    }
  }
}
