/*
 *  Menu-blocks block component
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------


// General settings
// -------------------------
#block-menu-menu-segment-blocks,
#block-menu-menu-course-blocks {
  .block-title {
    display: none;
  }

  ul.menu {
    display: block;
    margin: 50px 0 0;
    text-align: left;

    li {
      display: inline-block;
      margin: 0 5px 5px 0;

      &.navigator {
        display: none;
      }

      a, span {
        display: block;
        padding: 11px 20px 13px;
        width: 100%;
        font-family: @pxl-text-font;
        font-size: 16px;
        line-height: 1;
        color: @pxl-color-gray-text;
        #pxl-mixins.border-radius(3px);
        border: none;
        background-color: @pxl-color-hso-gray;
      }

      &:hover,
      &.active {
        a, span {
          color: #fff;
          background-color: @pxl-color-gray-text;
        }
      }
    }

    @media @tablet {
      li {
        margin: 0 -3px 0 0;
        border-right: 1px solid #fff;

        &.navigator {
          display: inline-block;
        }
        a, span {
          padding: 11px 12px 13px;
          #pxl-mixins.border-radius(0);
        }

        &.first {
          a, span {
            .border-left-radius(3px);
          }
        }
        &.last {
          border: none;

          a, span {
            .border-right-radius(3px);
          }
        }

      }
    }

    @media @normal {
      li {
        a, span {
          padding: 11px 20px 13px;
        }
      }
    }


  }
}
