/*
 *  Node benefit component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-benefit.view-mode-teaser {
  .row {
    margin: 0;
    .col-sm-12 {
      padding: 0;

      .field-name-field-icon {
        display: inline-block;
        margin: 0 -2px;
        padding: 0;
        width: 20%;
        max-width: @pxl-sidebar-icon-width;
        vertical-align: middle;

        .field-item {
          img {
            width: 40px;
            height: auto;
            max-width: 100%;
          }
        }

        @media @tablet {
          max-width: @pxl-sidebar-icon-width-small;
          .field-item {
            img {
              width: 30px;
            }
          }
        }
        @media @normal {
          max-width: @pxl-sidebar-icon-width;
          .field-item {
            img {
              width: 40px;
            }
          }
        }
      }

      .field-name-title {
        display: inline-block;
        overflow: hidden;
        margin: 0 -2px;
        padding: 0 5px;
        width: 80%;
        vertical-align: middle;

        p {
          margin: 0;
          font-family: @pxl-text-font-light;
          font-size: 15px;
          text-align: left;
          color: @text-color;
          line-height: normal;

          @media @tablet {
            font-size: 14px;
          }
          @media @normal {
            font-size: 15px;
          }
        }
      }

    }
  }
}
