/*
 *  Node video component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-video.view-mode-teaser {
  .row {
    div.col-sm-12 {
      width: 100%;

      .field-name-title {
        h2 {
          font-family: @pxl-text-font-light;
          #pxl-mixins.font-size-responsive(@font-size-base);
          color: @text-color;
        }
      }

      .field-name-field-video {
        .field-item {
          .file-video {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      .group-video {
        position: relative;
        height: 25px;

        .field-name-field-duration,
        .field-name-field-views {
          display: inline-block;
          position: absolute;
          margin: 0;
          top: 5px;
          left: 10px;

          .field-item {
            font-family: @pxl-text-font;
            font-size: @font-size-base;
            color: @pxl-color-gray-text;
          }
        }
        .field-name-field-views {
          left: auto;
          right: 10px;
        }
      }

      .field-name-post-date {
        padding: 10px;
        width: 100%;

        .field-item {
          font-family: @pxl-text-font;
          font-size: 10px;
          text-align: right;
          color: @pxl-color-gray-text;

          &:after {
            content: '\f16a';
            font-family: @pxl-icon-font;
            font-size: @font-size-base;
            margin-left: 10px;
          }
        }
      }

      .field-name-body {
        #pxl-mixins.wysiwyg-body(14px; @font-size-base; 14px);

        @media @tablet {
          //.content-columns(2);
        }
      }
    }
  }
}

.node.node-video.view-mode-full {
  .row {
    div.col-sm-12 {
      width: 100%;

      .field-name-title {
        h2 {
          margin: 0;
          padding: 15px 0;
          font-family: @pxl-text-font-bold;
          #pxl-mixins.font-size-responsive(30px);
          color: @text-color;
        }
      }

      .field-name-submitted-by {
        margin: 10px 0 20px;
        width: 100%;

        .field-item {
          font-family: @pxl-text-font;
          font-size: 12px;
          text-align: right;
          color: @pxl-color-gray-text;

          &:before {
            content: '\f16a';
            font-family: @pxl-icon-font;
            font-size: @font-size-base;
            margin-right: 10px;
          }
        }
      }

      .field-name-field-video {
        .field-item {
          .file-video {
            .media-youtube-video {
              height: auto;

              iframe {
                display: block;
                margin: 0 auto;
                width: 100%;

                @media @tablet {
                  width: 80%;
                }
              }
            }
          }
        }
      }

      .group-video {
        position: relative;
        margin: 0 auto 20px;
        height: 25px;
        width: 67%;

        .field-name-field-duration,
        .field-name-field-views {
          display: inline-block;
          position: absolute;
          margin: 0;
          top: 5px;
          left: 10px;

          .field-item {
            font-family: @pxl-text-font;
            font-size: @font-size-base;
            color: @pxl-color-gray-text;
          }
        }
        .field-name-field-views {
          left: auto;
          right: 10px;
        }
      }

      .field-name-body {
        margin: 0 0 20px;

        #pxl-mixins.wysiwyg-body(14px; @font-size-base; 14px);
        color: @pxl-color-gray-text;

        @media @tablet {
          //.content-columns(2);
        }
      }
    }
  }
}
