/*
 *  Node testimonials component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-testimonial.node-teaser {
  .row {
    div.col-sm-12 {
      position: relative;
      width: 100%;

      .field-name-field-picture {
        .field-item {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .field-name-body {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px @grid-gutter-width 15px;
        #pxl-mixins.border-radius(0);
        background-color: rgba(73, 74, 79, 0.5);

        .field-item {
          p {
            font-family: @pxl-text-font-light;
            font-size: @font-size-base;
            color: #fff;

            @media @normal {
              font-size: @font-size-large;
            }
          }
        }

        @media @tablet {
          //.content-columns(2);
        }
      }
    }
  }
}
