/*
 *  Course content type
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-sidebar-icon-width-small: 35px;
@pxl-sidebar-icon-width: 45px;

// Mixins
// -------------------------
.links(@seg-color) {
  a {
    color: @seg-color;
    text-decoration: none;

    &:hover, &.active, &:focus {
      text-decoration: underline;
    }
  }
}

.menu-course-blocks() {
  ul.menu {
    display: block;
    margin: 0;
    text-align: left;

    li {
      display: inline-block;
      margin: 0;
      padding: 10px 0;
      width: 100%;

      .menu-attach-block-drop-link{
        display: none;
      }

      .menu-attach-block-wrapper {
        display: inline-block;

        &:before {
          display: inline-block;
          content: '\f2bc';
          margin: 0 -2px;
          font-family: @pxl-icon-font;
          font-size: 28px;
          width: @pxl-sidebar-icon-width;

          @media @tablet {
            font-size: 23px;
            width: @pxl-sidebar-icon-width-small;
          }
          @media @normal {
            font-size: 28px;
            width: @pxl-sidebar-icon-width;
          }
        }

        .block {
          display: inline-block;
          margin: 0 -2px;
          padding: 0 0 0 5px;
          width: 75%;
          font-family: @pxl-text-font-medium;
          font-size: 14px;
          line-height: 1;
          color: @text-color;
          vertical-align: text-bottom;

          h2.block-title, .contextual-links-wrapper {
            display: none;
          }

          .contact-mail {
            padding: 0 0 3px;
            a {
              padding: 0;
            }
          }
          .contact-phone {
            padding: 0;
            white-space: nowrap;
          }
        }
      }

      a, span {
        display: inline-block;
        padding: 0;
        width: 100%;
        font-family: @pxl-text-font-medium;
        font-size: 15px;
        line-height: 1;
        color: @text-color;
        text-decoration: none;
        background: none;

        &:before {
          font-family: @pxl-icon-font;
          font-size: 30px;
          width: @pxl-sidebar-icon-width;
        }

        @media @tablet {
          font-size: 14px;
          &:before {
            font-size: 25px;
            width: @pxl-sidebar-icon-width-small;
          }
        }
        @media @normal {
          &:before {
            font-size: 30px;
            width: @pxl-sidebar-icon-width;
          }
        }
      }

      &.startdaten {
        a:before, span:before {
          display: inline-block;
          content: '\f073';
        }
      }
      &.infoevent {
        a:before, span:before {
          display: inline-block;
          content: '\f274';
        }
      }
      &.consulting {
        a:before, span:before {
          display: inline-block;
          content: '\f0e6';
        }
      }
      &.brochures {
        a:before, span:before {
          display: inline-block;
          content: '\f019';
        }
      }

      &:hover,
      &.active {
        a, span {
          text-decoration: underline;
          body.segment_kv & {
            color: @pxl-color-hso-kv;
          }
          body.segment_hs & {
            color: @pxl-color-hso-hs;
          }
          body.segment_sp & {
            color: @pxl-color-hso-sp;
          }
          body.segment_wi & {
            color: @pxl-color-hso-wi;
          }
          body.segment_pp & {
            color: @pxl-color-hso-pp;
          }
          body.segment_wm & {
            color: @pxl-color-hso-wm;
          }
          body.category_hf & {
            color: @pxl-color-hso-hf;
          }
          body.category_fh & {
            color: @pxl-color-hso-fh;
          }
          body.category_ex & {
            color: @pxl-color-hso-ex;
          }
        }
      }
    }

  }
}




// General settings
// -------------------------
.node.node-course{
  .row {
    .col-sm-9 {
      margin: 0 0 30px;
      padding-right: 50px;

      .field-name-body {
        p {
          font-family: @pxl-text-font-light;
        }
        table.aufeinenblock, // legacy
        table.aufeinenblick {
          >p, >caption {
            // do not show table caption
            display: none;
          }

          tbody {
            padding: 0 20px;

            tr {
              border-top: 1px solid @pxl-border-color;

              th, td {
                display: block;
                padding: 15px 10px 15px 0;
                width: 100% !important;
                font-family: @pxl-text-font;
                font-size: @font-size-small;
                color: @text-color;
                vertical-align: top;
              }
              td {
                font-family: @pxl-text-font-light;

                ul {
                  margin-left: -1.2em;
                }
              }

              &:first-child {
                th {
                  font-family: @pxl-text-font-light;
                  font-weight: normal;
                }
              }

              &:last-child  {
                border-bottom: 1px solid @pxl-border-color;
              }

              @media @tablet {
                th {
                  display: table-cell;
                  width: 33% !important;
                  font-size: @font-size-base;
                }
                td {
                  display: table-cell;
                  width: 67% !important;
                  font-size: @font-size-base;
                }
              }
            }
          }
        }

        body.segment_kv & {
          .links(@pxl-color-hso-kv);
        }
        body.segment_hs & {
          .links(@pxl-color-hso-hs);
        }
        body.segment_sp & {
          .links(@pxl-color-hso-sp);
        }
        body.segment_wi & {
          .links(@pxl-color-hso-wi);
        }
        body.segment_pp & {
          .links(@pxl-color-hso-pp);
        }
        body.segment_wm & {
          .links(@pxl-color-hso-wm);
        }
        body.category_hf & {
          .links(@pxl-color-hso-hf);
        }
        body.category_fh & {
          .links(@pxl-color-hso-fh);
        }
        body.category_ex & {
          .links(@pxl-color-hso-ex);
        }
      }

    }

    .col-sm-3 {
      margin: 0 0 30px;
      padding: 0 @grid-gutter-width/2;

      &.course-has-no-info-event {
        .field-name-course-links {
          .field-item {
            ul.menu {
              li.infoevent {
                display: none;
              }
            }
          }
        }
      }

      @media @tablet {
        padding: 0;
      }

      // sidebar
      .field-name-course-links {
        margin-bottom: 50px;
        .field-item {
          .menu-course-blocks();
        }
      }
      .field-name-course-benefits {
        margin-bottom: 50px;
        .field-item {
          // see view-benefits.less and node-benefit.less
        }
      }
      .field-name-course-infos {
        .field-item {
          // see view-segment-pages.less
        }
      }
    }

    .col-sm-12 {
      // bottom
      .field-name-course-tab {
        // see view-course-tabs
      }

    }
  }
}
