/*
 *  Panel structure
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// General settings
// -------------------------
.panel-display {
  .panel-panel {
    .panel-separator {
      margin-top: 30px;
    }

    .panel-pane {
      h2.pane-title {
        margin: 0 0 10px;
        font-family: @pxl-text-font;
        #pxl-mixins.font-size-responsive(@font-size-larger);
        color: @text-color;

        a {
          color: @text-color;

          &:hover {
            color: @pxl-color-hso-main;
            text-decoration: none;
          }
        }
      }

      iframe {
        max-width: 100%;
      }

      &.pane-custom {
        margin: 0 auto;
        max-width: @pxl-max-width-page;
        .panel-content {
          #pxl-mixins.wysiwyg-body;
        }
      }
    }
  }
}

.panel-2col-stacked {
  .panel-col-top, .panel-col-bottom, .center-wrapper {
    display: block;
    margin-top: 80px;
  }
  .center-wrapper {
    margin-top: 55px;
  }

  .panel-col-first, .panel-col-last {
    display: inline-block;
    margin: 0 -2px;
    float: none;
    width: 100%;
    vertical-align: top;
  }

  @media @tablet {
    .panel-col-first {
      padding-right: 10px;
      width: 50%;
    }
    .panel-col-last {
      padding-left: 10px;
      width: 50%;
    }
  }
}
