/*
 *  View call2action component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-gutter-width: 1%;
@pxl-gutter-width-teaser: 1px;

// Mixins
// -------------------------



// General settings
// -------------------------
.view.view-call2action {
  width: 100%;
  margin-top: 30px;

  @media @normal {
    margin-top: 50px;
  }

  .view-content {
    margin: 0 -@pxl-gutter-width;

    .views-row {
      display: inline-block;
      margin: 0 -0.08em;
      padding: 0 @pxl-gutter-width 4*@pxl-gutter-width;
      width: 100%;
      vertical-align: top;

      @media @narrow {
        width: 50%;
        padding: 0 @pxl-gutter-width 2*@pxl-gutter-width;
      }

      @media @normal {
        width: 33.333333%;
      }
    }
  }
}

//
// Call2action as Menu links
//
.view.view-call2action.view-display-id-block_1 {
  width: 100%;
  margin: 0;

  .view-content {
    margin: 0;

    .views-row {
      display: inline-block;
      margin-right: 0 -0.15em;
      padding: 0 0 @pxl-gutter-width-teaser;
      width: 50%;
      vertical-align: top;

      @media @tablet {
        width: 33.3333333%;
      }
      @media @normal {
        width: 16.666667%;
        padding: 0;
      }
    }
  }
}
