/*
 *  View Course-tabs component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-color-border: #ddd;

// Mixins
// -------------------------


// General settings
// -------------------------
.view.view-course-tabs {
  .view-content {
    ul.nav-tabs {
      margin: 0;

      li {
        a {
          margin: 0;
          padding: 10px 15px;
          color: @text-color-light;
          #pxl-mixins.border-radius(0);
          border-right: 1px solid @pxl-color-border;
          background-color: @pxl-color-hso-gray;
        }

        &:last-child {
          a {
            border-right: transparent;
          }
        }

        &.active, &:hover, &:focus {
          a {
            color: @text-color;
            border: 1px solid @pxl-color-border;
            background-color: #fff;
          }
        }
      }
    }

    .tab-content {
      border: 1px solid @pxl-color-border;
      border-top: none;

      .tab-pane {
        .node-course-tabs {
          .row {
            .col-sm-12 {
              .field-name-body {
                #pxl-mixins.wysiwyg-body;
              }
            }
          }
        }

        // see view-course-times
      }
    }
  }
}
